*{
  box-sizing: border-box;
}
:root {
  --white-color: white;
  --black-color: black;
}
body {
  /* background-image: url(../images/mainpic.jpeg); */
  background-color: rgb(23, 23, 23);
}
.navbar {
  background-color: rgb(23, 23, 23);
}
.navbar .search {
  border-left: 1px solid gray;
  font-size: 22px;
  color: gray;
}
.navbar .search:hover {
  border-left: 1px solid orange;
  color: orange;
}

.navbar .navbar-nav .nav-link {
  color: gray;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: orange;
}
.navbar .login {
  background-color: orange;
  color: white;
  border: none;
}
.navbar .login:hover{
  box-shadow: 0px 0px 5px 1px orange;
}
.navbar .search-input {
  border: 1px solid var(--white-color);
  position: absolute;
  top: 65px;
  right: 106px;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: top right;
}
.navbar .search-input input {
  height: 50px;
  font-size: 16px;
  border: 0.5px solid var(--white-color);
}
.navbar .search-input input:focus {
  box-shadow: none;
  text-shadow: none;
  border: 0.5px solid var(--white-color);
}
.navbar .search:hover .search-input {
  opacity: 1;
  transform: scale(1);
}

.icon-container {
  z-index: 100;
}

.collapse-div .card,
.short-paragraph {
  background-color: rgb(30, 30, 30);
}
#accordion a:hover,#accordion a:focus{
  color: orange !important;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
.learn-more {
  background-color: orange;
  color: white;
  box-shadow: 0px 0px 5px 1px orange;
}

.types-icons {
  border-bottom: 0.5px solid rgb(101, 101, 101);
}
.types-icons i span {
  font-family: cursive;
  font-weight: 100;
}
.types-icons i:hover {
  color: orange;
  transform: scale(1.1);
}
.types-icons .active {
  color: orange;
  transform: scale(1.1);
}
.types-buttons a {
  width: 100px;
  background-color: orange;
}
.types-buttons a:hover {
  box-shadow: 0px 0px 5px 1px orange;
}

.collapse-occordion {
  background-image: url();
}

.box {
  color: white;
  transform: scale(1);
  transition: 0.3s;
}
.box:hover {
  transform: scale(1.03);
}

.item .year,
.item .rate {
  font-size: 13px;
}

.item .film-icons a {
  color: gray;
}
.item .film-icons .star {
  color: orange;
}
.item .film-icons a:hover {
  color: orange !important;
}

/* .fixed-icons{
  z-index: 1150;
}
.icons-parent{
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: bottom ;
}
.main-icon:hover .icons-parent{
opacity: 1;
  transform: scale(1);
} */

.iconic-item {
  background-color: rgb(30, 30, 30);
  transform: scale(1);
  transition: 0.3s;
  box-shadow: 2px 0px 137px 53px #212529;
  font-family: cursive;
}
.iconic-item:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 5px 5px #212529;
}

/* .iconic-p{
  background-image: url(../images/harryPotter2.jpg);
  background-size: cover;
} */
.coming-parent{
  box-shadow: 1px 2px 5px 5px #212529;
}
.fixed-img{
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
.coming-subtitle{
  color: white;
  font-family: cursive;
  text-shadow: 0px 0px 5px white;
}
.coming-img1 {
  background-image: url(../images/terminator3.jpg);
}
.coming-img2 {
  background-image: url(../images/deadpool.jpg);
}
.coming-img3 {
  background-image: url(../images/knivesout.jpg);
}


.anime-parent{
  box-shadow: 1px 2px 5px 5px #212529;
}
.anime-parent .anime-item img{
  box-shadow: 1px 2px 71px 32px #212529;
}
.anime-parent .anime-item img:hover{
  box-shadow: 0px 2px 1px 5px #212529;
}

.foot-parent{
  background-color: rgb(23, 23, 23);
  box-shadow: 1px 2px 5px 10px #212529;
}
.foot-parent h2{
  color: orange;
}
.foot-parent a{
  text-decoration: none;
  color: gray;
}
.foot-parent a:hover{
  color: rgb(192, 128, 11);
}